
*.iml

*.bin

.idea/.name

.idea/compiler.xml

.gradle/2.8/taskArtifacts/cache.properties

.gradle/2.8/taskArtifacts/cache.properties.lock

.idea/modules.xml

.idea/copyright/profiles_settings.xml

.idea/vcs.xml

leqisoft/leqisoft.iml

.idea/workspace.xml

.idea/gradle.xml

.idea/misc.xml

app/app.iml
